@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
body {
    margin: 2em auto;
    max-width: 72em;
    line-height: 1.6em  ;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    color: #444;
    background-color: #fefefe;
    padding: 1em;
    position: relative;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
h1,h2,h3 {
    line-height: 1.2em;
    font-weight: 700;
}
a {
    text-decoration: none;
    color: #8693c2;
}
a:hover {
    text-decoration: underline;
    color: #4f69c2;
}
.header {
    margin-bottom: 2em;
}
.secretlink {
    text-decoration: none;
    color: #444444;
}
.secretlink:hover {
    text-decoration: none;
    color: #444444;
    cursor: default;
}
.html:hover {
    color: #FE6200;
    cursor: pointer;
}
.css:hover {
    color: #264de4;
    cursor: pointer;
}
.js:hover {
    color: #f7e018;
    cursor: pointer;
}
.games:hover {
    font-weight: 500;
    cursor: pointer;
}
.red {
    color: #d35353;
    cursor: not-allowed;
}